* {
  margin: 0;
}

div {
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  height: 100%;
}

.zesMaart,
.twintigMaart,
.groepsfoto {
  background-color: red;
}

.elfMaart,
.zeven20Maart {
  background-color: yellow;
}
